.progressBar {
  display: flex;
  align-items: center;
}

.line {
  width: 5rem;
  height: 0.3rem;
  background: #b2bec3;
}

.halfFill {
  background: linear-gradient(to right, black 50%, #b2bec3 50%);
}

.fill {
  background: black;
  transition: background 0.5s linear;
}
